[defaults]
inventory = ./hosts.ini
collections_paths = ./collections/ansible_collections
host_key_checking = False

# [connection]
# pipelining = True
# ssh_args = -o ControlMaster=auto -o ControlPersist=60s
# ssh_args = -o UserKnownHostsFile=/dev/nul -o ControlMaster=auto -o ControlPersist=60s
